.main-header {
  background-image: url("../images/header_wallpaper.jpg");
  background-size: 100% 100%;
}

.main-header h1 {
    font-size: 85px;
}

.main-header p {
    font-size: 20px;
}

.btn-space {
  margin-top: 15px;
  margin-right: 15px;
}

button {
    background-color: #fff;
}

button:hover {
    background-color: #32CD32;
}

#logo {
  width: 300px;
  height: 320px;
}

.div-space {
  margin-left: 40px;
}

.para {
  text-indent: 50px;
}

footer {
  padding: 30px 0;
  clear: both;
  font-size: 12px;
  text-align: center;
  height: 50px;
}

.image {
  width: 200px;
  height: 200px;
  margin-bottom: 10px;
}

.btn-center {
  margin-top: 30px;
}

.title {
  margin-top: 20px;
}

body {
  background-color: #d3d3d3;
  font-family: "Times New Roman", Times, serif;
}

.footer {
    margin-top: 50px;
}

/* Media Queries */

@media only screen and (max-width: 500px) {
    .main-header h1 {
        font-size: 30px;
    }
    #logo {
        margin-left: 35px;
    }
    .para {
        margin-top: 20px;
    }
}